CLAWLOOPS_DOMAIN=clawloops.localhost
RUNTIME_MANAGER_DOMAIN=runtime-manager.clawloops.localhost

WEB_NPM_REGISTRY=https://registry.npmjs.org
WEB_PNPM_REGISTRY=https://registry.npmjs.org
API_APT_MIRROR=deb.debian.org
API_PIP_INDEX_URL=https://pypi.org/simple
RUNTIME_MANAGER_PIP_INDEX_URL=https://pypi.org/simple
LITELLM_MASTER_KEY=sk-local-master
